<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    <link href="dist/css/list.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/swiper.min.css">
    <style>
        @media screen and (min-width:600px) and (max-width:900px){
            html {
               font-size: 875%;
            }
        }
        @media screen and (min-width:415px) and (max-width:600px){
            html {
                font-size: 750%;
            }
        }
        @media screen and (min-width:375px) and (max-width:415px){
            html {
                font-size: 625%;
            }
        }
        .swiper-slide {
            /*text-align: center;*/
            font-size: 18px;
            background: #000;
            align-items: center;
            justify-content: center;
            width:100%;
            display: flex;
            flex-direction:column
        }
        .swiperImg {
            align-items: center;
            justify-content: center;
            width:100%;
            /*display: flex;*/
        }

        .swiperDetail{
            position: absolute;
            bottom:0;
        }
        #content{
            word-break:break-all;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #000;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="text16 padding" id="content" v-html="context" v-cloak>
    </div>
    <div class="countMemberTop" v-cloak @click="jumpToVotedList()">
        <div style="float: left;">
            <a class="headerImg" v-for="(vote,key) in voteData" v-if="key<5">
                <img :src="vote.user.HeadImgURL" style="width: 100%;border-radius: 50%;">
                <span :class="setLevel(vote.user.Level)"></span>
            </a>
        </div>
        <div style="float: right;line-height:inherit" class="text12">
           {{voteSum}}人点赞
            <span class="sumTop"></span>
        </div>
    </div>
    <div class="hotComment" id="commentBarHot">热门评论</div>
    <div class="text14 padding" id="hot" v-cloak>
        <ol class="comments-items">
            <li class="bbs-post stairCom" v-for="(list,index) in hotItems">
                <div class="bbs-post-self" :id="list.id" @click="jumpSubCom(list.id)">
                    <div class="bbs-headPic">
                        <img :src="list.author.HeadImgURL" :alt="list.author.Nickname">
                        <span :class="setLevel(list.author.Level)"></span>
                    </div>
                    <div class="bbs-comment-body">
                        <div class="pm">
                            <div style="float: left;">
                                <p class="text14" style="line-height: 100%">{{list.author.Nickname}}</p>
                                <a class="text12 colorGray" style="line-height: 100%">
                                    {{index+1}}楼&nbsp;
                                    {{publishTime(list.createTime*1000)}}
                                </a>
                            </div>
                            <div class="sprit likeIcon">
                                <span :class="[list.vote==1?dianzhan:downvote]" @click="likeComment($event,list,index,1)"></span>
                                <a class="color7A1AE0 text12">{{list.upvotes}}</a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p class="detailWord" v-html="splitAtUser(list.text)">
                                <!--{{list.text}}-->
                            </p>
                        </div>
                        <div class="comment-img"  v-if="list.images&&list.images.list&&list.images.list.length>0">
                            <div class="oneImg" v-if="list.images.list.length==1" v-for="(img,key) in list.images.list"  @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                            <div class="twoImg" v-if="list.images.list.length==2" v-for="(img,key) in list.images.list"  @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                            <div class="thumbnailHidden" v-if="list.images.list.length>=3" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                        </div>
                        <div class="audio" v-if="list.audio">
                            <audio :src="list.audio.url" style="display: none" controls></audio>
                            <div class="details">
                                <div class="series sprit">
                                    <span></span>
                                </div>
                                <div class="expires">
                                    <span class="color7A1AE0"  v-if="list.audio.expires>0">{{list.audio.expires}}后过期</span>
                                </div>
                                <div class="allTimes">
                                    <span class="color7A1AE0">{{list.audio.length}}"</span>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: white;">
                            <a class="colorGray text12">
                                <span class="address"></span>
                                {{address(list.position)}}
                            </a>
                        </div>
                    </div>
                    <!--二级评论的页面-->
                    <ul class="subComment" v-if="list.subComments&&list.subComments.length>0">
                        <li class="sendComLI" v-for="subCom in list.subComments">
                            <div class="subComments" style="overflow: hidden">
                                <div class="comment-text">
                                    <p class="detailWord">
                                        <span style="color:red">{{subCom.author.Nickname}}：</span>
                                        {{subCom.text}}
                                        <span class="publicTime">{{beforeTime(subCom.createTime*1000)}}前</span>
                                    </p>
                                    <div class="color7A1AE0 text14" v-if="subCom.Children>2" @click="jumpSubCom(list.id)">更多{{subCom.Children}}条回复</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
    <div style="background-color: #F0F0F0;height:0.2rem"></div>
    <div class="hotComment" id="commentBarAll">全部评论</div>
    <div class="allComment padding" v-cloak id="all">
        <ol class="comments-items">
            <li class="bbs-post stairCom" v-for="(list,index) in items" :id="list.id">
                <div class="bbs-post-self" @click="jumpSubCom(list.id)">
                    <div class="bbs-headPic">
                        <img :src="list.author.HeadImgURL" :alt="list.author.Nickname">
                        <span :class="setLevel(list.author.Level)"></span>
                    </div>
                    <div class="bbs-comment-body">
                        <div class="pm">
                            <div style="float: left;">
                                <p class="text14" style="line-height: 100%">{{list.author.Nickname}}</p>
                                <a class="text12 colorGray" style="line-height: 100%">
                                    {{index+1}}楼&nbsp;
                                    {{publishTime(list.createTime*1000)}}
                                </a>
                            </div>
                            <div class="sprit likeIcon">
                                <span :class="[list.vote==1?dianzhan:downvote]" @click="likeComment($event,list,index,0)"></span>
                                <a class="color7A1AE0 text12">{{list.upvotes}}</a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p class="detailWord" v-html="splitAtUser(list.text)">
                                <!--{{splitAtUser(list.text)}}-->
                            </p>
                        </div>
                        <div class="comment-img"  v-if="list.images&&list.images.list&&list.images.list.length>0">
                            <div class="oneImg" v-if="list.images.list.length==1" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                            <div class="twoImg" v-if="list.images.list.length==2" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                            <div class="thumbnailHidden" v-if="list.images.list.length>=3" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                        </div>
                        <div class="audio" v-if="list.audio">
                            <audio :src="list.audio.url" style="display: none" controls></audio>
                            <div class="details">
                                <div class="series sprit">
                                    <span></span>
                                </div>
                                <div class="expires">
                                    <span class="color7A1AE0" v-if="list.audio.expires>0">{{list.audio.expires}}后过期</span>
                                </div>
                                <div class="allTimes">
                                    <span class="color7A1AE0">{{list.audio.length}}"</span>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: white;">
                            <a class="colorGray text12">
                                <span class="address"></span>
                                {{address(list.position)}}
                            </a>
                        </div>
                    </div>
                    <!--二级评论的页面-->
                    <ul class="subComment" v-if="list.subComments&&list.subComments.length>0">
                        <li class="sendComLI" v-for="subCom in list.subComments">
                            <div class="subComments" style="overflow: hidden">
                                <div class="comment-text">
                                    <p class="detailWord">
                                        <span style="color:red">{{subCom.author.Nickname}}：</span>
                                        {{subCom.text}}
                                        <span class="publicTime">{{beforeTime(subCom.createTime*1000)}}前</span>
                                    </p>
                                    <div class="color7A1AE0 text14" v-if="subCom.Children>2" @click="jumpSubCom(list.id)">更多{{subCom.Children}}条回复</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <div class="text14 colorGray" style="text-align: center;margin: 0.25px 0rem 0.15rem 0rem;" @click="loadMoreCom()">加载更多评论</div>
        </ol>
    </div>
    <div class="cover" id="cover">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(img,key) in imageList">
                    <div class="swiperImg"><img :src="img.src" :data-src="img.lazysrc"></div>
                    <div style="width:100%;color:white;padding-bottom: 10px;" class="swiperDetail details">
                        <div class="series text16" id="seriesImg">
                            <a style="padding:0px 10px">{{key+1}}/{{imageList.length}}</a>
                        </div>
                        <div class="expires text14">
                          <a class="btn">查看原图{{img.size}}</a>
                        </div>
                        <div class="allTimes">
                            <span class="download" @click="downloadImg(img.src,$event)"></span>
                        </div>
                    </div>
                </div>
                <!--<div class="swiper-slide" v-for="(img,key) in imageList">silde {{key}}</div>-->
            </div>
        </div>
    </div>
    <button style="display: block;padding:10px;"><a @click="tools()">dddddd</a></button>
</div>
<div class="cover" id="tips" style="align-content: center;flex-direction:column;background-color: transparent">
    <div style="padding:10px 5px;background-color: rgba(0,0,0,0.5);border-radius: 4px;"></div>
</div>
<script src="dist/js/jquery3.js"></script>
<script src="dist/js/vue.js"></script>
<script src="dist/js/swiper.min.js"></script>
<script>
    var Tips=function(str,param){
        var p="";
        $("#tips").css("display","flex");
        if(param) {
            p=param
        }
        $("#tips div").html(str+p);
        setTimeout(function(){
            $("#tips").css("display","none");
        },3000)
    }
    $("#audiosrc").on("canplay",function(){
        playaudio();
    })
    function playaudio(){
        var aud=document.getElementById("audiosrc");
        var playTimes=aud.duration;
        var intTimes=Math.ceil(playTimes);
        $(".details .allTimes span").text(intTimes+"'");
        var flag=false;
        $(".series").click(function(){
            var i=0;
            var src="";
            flag=!flag;
            if(flag){
                aud.play();
                var action= setInterval(function(){
                    src="dist/img/audImg"+(i%4+1)+".png";
                    $(".series img").attr("src",src);
                    i++;
                    if(aud.currentTime*1000<aud.duration*1000 && flag){

                    }else{
                        clearInterval(action);
                        aud.pause();
                        if(flag){
                            flag=!flag;
                        }
                    }
                },500)
            }
            else{
                console.log(flag);
                aud.pause();
                $(".series img").attr("src","dist/img/audImg4.png");
            }
        })
    }
    function personPage(uuid){
        event.stopPropagation();
        console.log(uuid);
        alert(uuid);
        blemobi.jumpPersonInfo(uuid.toString())
    }
    var comment={};
    function configIP(){
      var url=  window.location.host;
        alert(url);
        if(url=="sz1-test-sep-static.oss-cn-shenzhen.aliyuncs.com"){
            return "http://lb1qa1sep.blemobi.com:80";
        }else{
            return "http://192.168.5.105";
        }
    }
    (function(self,$){
        function jugePhoneType(){
            var ua=navigator.userAgent.toLowerCase();
            if(/android/.test(ua)){
                return 1
            }else if(/iphone|ipad|ipod/.test(ua)){
                return 2
            }else{
                return -1
            }
        }
        function request(url,fn){
            $.ajax({

                url:url,
                method:"GET",
                contentType:"application/json",
                beforeSend : function(xhr) {
                    xhr.setRequestHeader("If-Modified-Since","0");
                },
                error:function(){
                    Tips("网络出错,请稍后重试");
                },
                success:function(data){
                    if(typeof fn=="function"){
                        fn(data)
                    }
                }
            })
        }
        self.newComment=function(){
            console.log("ddd")
        }
        function setImgWidht(){
            var w=$(".oneImg").css("width");
            var h=0.5625*parseInt(w);
            $(".oneImg").css("height",h+"px");

            var w1=$(".twoImg").css("width");
            $(".twoImg").css("height",w1);

            var twoImg=$("#hot .twoImg");
            for(var i=0;i<twoImg.length;i++){
                var img=$(twoImg[i]).children("img");
                for(var j=0;j<img.length;j++){
                  var imgw=  $(img[j]).css("width");
                  var imgh=  $(img[j]).css("height");
                    if(imgw<imgh){
                        $(img[j]).css("width",w1).css("height","auto");
                    }else{
                        $(img[j]).css("height",w1).css("width","auto");
                    }
                }
            }
            var twoImg1=$("#all .twoImg");
            for(var i=0;i<twoImg1.length;i++){
                var img1=$(twoImg1[i]).children("img");
                for(var j=0;j<img1.length;j++){
                    var imgw1=  $(img1[j]).css("width");
                    var imgh1=  $(img1[j]).css("height");
                    if(imgw1<imgh1){
                        $(img1[j]).css("width",w1).css("height","auto");
                    }else{
                        $(img1[j]).css("height",w1).css("width","auto");
                    }
                }
            }


            var w2=$(".thumbnailHidden").css("width");
            $(".thumbnailHidden").css("height",w2);

            var th=$("#hot .thumbnailHidden");
            for(var i=0;i<th.length;i++){
                var thimg=$(th[i]).children("img");
                var thw=  $(thimg).css("width");
                var thh=  $(thimg).css("height");
                if(thw<thh){
                    $(thimg).css("width",w2).css("height","auto");
                }else{
                    $(thimg).css("height",w2).css("width","auto");
                }
            }

            var th1=$("#all .thumbnailHidden");
            for(var i=0;i<th1.length;i++){
                var thimg1=$(th1[i]).children("img");
                var thw1=  $(thimg1).css("width");
                var thh1=  $(thimg1).css("height");
                if(thw1<thh1){
                    $(thimg1).css("width",w2).css("height","auto");
                }else{
                    $(thimg1).css("height",w2).css("width","auto");
                }
            }

        }
        function parseAppURL(url){
             var arr = url.split("&bodyurl=");
             var UUID = arr[0].split("?");
            var postid = arr[0].split(/&|=/);
            var obj={
                htmlurl:arr[1],
                comment:UUID[1],
                postid:postid[3],
                uuid:postid[1]
            }
            return obj;
        }
        function setPosition(){
            //全部评论和热门评论显示在顶部
            var hTop=$(" #commentBarHot ").offset().top;
            var aTop=$("#commentBarAll").offset().top
            $(window).scroll(function(){
                var h=$("#all").css("height");
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                var viewportSize = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
                var x =scrollTop+viewportSize- hTop- $(window).height()-10;
                var y=scrollTop+viewportSize-aTop-$(window).height()-10;
                if(x>=0){
                    $("#commentBarHot").css("position","fixed").css("top","0").css("left",0).css("right",0);
                    $("#commentBarAll").css("position","relative");
                }else{
                    $("#commentBarHot").css("position","relative");
                }
                if(y>=0){
                    $("#commentBarAll").css("position","fixed").css("top","0").css("left",0).css("right",0);
                    $("#commentBarHot").css("position", "relative");
                }else{
                    $("#commentBarAll").css("position", "relative");
                }
            })
        }
        /*这段代码是固定的，必须要放到js中*/
        function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
        }
        self.vm=new Vue({
           el:"#app",
           data:{
               items:[],
               imageList:[],
               context:"",
               offset:0,
               dis:false,
               voteSum:0,
               voteData:[],
               downVote:0,
               dianzhan:"dianzhan",
               downvote:"downvote",
               contentImg:[],
               hotItems:[],
               swiper:null,
               hot:0,
               uuid:""
           },
           mounted:function() {
               var cxtURL,that=this;
               if(jugePhoneType()==1){
                   cxtURL = window.blemobi.getFrameUrl();
                   console.log("cxtURL==",cxtURL);
                   var url = JSON.parse(cxtURL);
                   var parseURL=parseAppURL(url.url);
                   console.log("parseURL==",parseURL);
                   this.getAppURLData(parseURL);
                   that.uuid=parseURL.uuid;
               }else{
                   alert("ios")
                   setupWebViewJavascriptBridge(function(bridge) {
                       bridge.callHandler('getFrameUrl',{}, function(response) {
                           alert(response);
                           var parseURL=parseAppURL(response);
                           alert(parseURL);
                           that.getAppURLData(parseURL);
                           that.uuid=parseURL.uuid;
                       })
                       bridge.registerHandler('comment.vm.votedNewsSuccess',function(data,votedNewsSuccess) {
                           alert(data);
                           that.votedNewsSuccess(data);
                       })
                      /* bridge.registerHandler('postVote',function(data,votedNewsSuccess) {
                           alert(data);
                           that.votedNewsSuccess(data);
                       })*/
                   })
               }
             },
           methods:{
               splitAtUser:function(str){
                    var exg=/\[図舙\:\/\/((?!\s{2}\]).)+\s{2}\]/gi,that=this;
                    var sy=str.replace(exg,function(word){
                        var exgg=/\[図舙\:\/\/|\s{2}\]/gi;
                        var uname=word.split(exgg);
                        console.log("uname",uname)
                        var uuid=uname[1].substring(0,uname[1].indexOf(",")).toString();
                        var name=uname[1].substring(uname[1].indexOf(",")+1);
                        console.log("uuidName==",uuid,name);
                        var s='<a data-uuid="'+uuid+'" style="color:#a922ff" onclick=\'personPage("'+uuid+'")\'>'+name+'</a>';
                        return s;
                    })
                   return sy
               },
               getAppURLData:function(urlObj){
                   var that = this;
                   that.items = [];
                   var u = "http://192.168.5.105:80/v1/news/guest/newsfeed/html?id=24",
                           uu="http://192.168.5.105/comment/guest/loadcomment?count=2&postid=19&offset=0&uuid=1493048811581296819";
                   request(urlObj.htmlurl, function (data) {
                       console.log("data", data)
                       that.context = data;
                       var content = data;
                       var img = new Image();
                       if (content != "") {
                           if (content.indexOf("<img") != -1) {
                               content.replace(/<img [^>]*src=['"]([^'"]+)[^>]*>/gi, function (match, capture) {
                                   that.contentImg.push({src: capture});
                               })
                           }
                       }
                       console.log("img==", that.contentImg);
                       Vue.nextTick(function () {
                           $("#content img").each(function (index, _this) {
                               console.log(_this)
                               $(_this).click(function () {
                                   that.imageList=that.contentImg;
                                   if(jugePhoneType()==1){
                                       blemobi.showPic();
                                   }else{
                                       setupWebViewJavascriptBridge(function(bridge) {
                                           bridge.callHandler('showPic',{}, function(response) {
                                               alert(response);
                                               var parseURL=parseAppURL(response);
                                               alert(parseURL);
                                               that.getAppURLData(parseURL);
                                           })
                                       })
                                   }

//                                   $('html').css("height","100%").css("overflow","hidden");
                                   $('body').css({"height":"100%","overflow":"hidden"});
                                   console.log("eee", index);
                                   $("#cover").css("overflow-y", "hidden").css("display", "flex");
                                   Vue.nextTick(function(){
                                        that.swiper = new Swiper('.swiper-container', {
                                           initialSlide: index
                                       });
                                       console.log("swiper==",that.swiper)
                                   })

                               })
                           })
                       })
                   })
                   var hotURL=configIP()+"/comment/guest/loadcomment?count=20&offset=0&sort=3&"+urlObj.comment;
                   alert(hotURL);
                   request(hotURL,function(data){
                       if(data.comments&&data.comments.length>0) {
                           that.hotItems = data.comments;
                           Vue.nextTick(function () {
                               setImgWidht()
                               setPosition()
                           })
                       }
                   })
                   var comURL=configIP()+"/comment/guest/loadcomment?count=20&offset=0&"+urlObj.comment;
                   request(comURL,function(data){
                       console.log("data",data)
                       if(data.comments&&data.comments.length>0) {
                           that.items = data.comments;
                           that.offset = 20;
                           Vue.nextTick(function () {
                               setImgWidht()
                               setPosition()
                           })
                       }
                   })
                   /**
                    *@note   获取点赞的用户列表,游客模式
                    *@path   /v1/news/guest/vote/users
                    *@method GET
                    *@param  id      帖子ID
                    *@param  offset  偏移, 为上次返回的数目.默认0
                    *@param  count   每次查询条数, 默认10, 最大50
                    *@return  成功返回 PNewsVoteUserList,失败返回PResult
                    */
                   var voteURL=configIP()+"/v1/news/guest/vote/users?offset=0&count=6&id="+urlObj.postid;
                   request(voteURL,function(data){
                       console.log("data==",data);
                       alert(data);
                       if(data.list){
                           that.voteSum=data.total;
                           that.voteData=data.list;
                       }
                   })
                   $("#cover").click(function(e){
                       e.preventDefault();
                       e.stopPropagation();
                       if(e.target!=="download") {
                           if(jugePhoneType()==1){
                               blemobi.hidePic();
                           }else{
                               setupWebViewJavascriptBridge(function(bridge) {
                                   bridge.callHandler('hidePic',{}, function(response) {
                                       alert(22);
                                       var parseURL=parseAppURL(response);
                                       alert(parseURL);
                                       that.getAppURLData(parseURL);
                                   })
                               })
                           }
                           $("body").css("overflow", "auto");
                           $("#cover").css("display", "none");
                       }
                   })
               },
               tools:function(){
                   javascript:(function () { var script = document.createElement('script'); script.src="http://eruda.liriliri.io/eruda.min.js"; document.body.appendChild(script); script.onload = function () { eruda.init() } })();
               },
               jumpToVotedList:function(){
                   if(jugePhoneType()==1) {
                       blemobi.sendJumpToVoted()
                   }else{
                       setupWebViewJavascriptBridge(function(bridge) {
                           bridge.callHandler('sendJumpToVoted',{}, function(response) {

                           })
                       })
                   }
               },
               jumpSubCom:function(id){
                   if(jugePhoneType()==1) {
                       blemobi.jumpSecondComment(id);
                   }else{
                       setupWebViewJavascriptBridge(function(bridge) {
                           bridge.callHandler('jumpSecondComment',{id:id}, function(response) {
                         })
                       })
                   }

               },
               sendClosePicToWeb11:function(){
                   $("body").css("overflow", "auto");
                   $("#cover").css("display", "none");
               },
               sendClosePicToWeb:function(){
                   $("body").css("overflow", "auto");
                   $("#cover").css("display", "none");
               },
               setLevel:function(level){
                   switch (level){
                       case 0:return "level0"
                       case 1:return "level1"
                       case 2:return "level2"
                       case 3:return "level3"
                   }
               },
               downloadImg:function(src,e){
                   e.stopPropagation();
                   if(jugePhoneType()==1) {
                       blemobi.downloadPic(src);
                   }else{
                       setupWebViewJavascriptBridge(function(bridge) {
                           bridge.callHandler('downloadPic',src, function(response) {
                           })
                       })
                   }
               },
               likeComment:function(e,list,index,hot){
                   var e=event||window.event;
                   e.stopPropagation();
                   this.dis=!this.dis;
                   /*if(list.vote==1){
                       list.vote=0;
                   }else{
                       list.vote=1;
                   }*/
                   this.hot=hot;
                   var v= 1,that=this;
                   if(list.vote==1){
                       v=0;
                   }
                  // console.log("comment==",comment.vm.votedSuccess(1,1,1));
                   console.log("list",list.vote,v);
                   if(jugePhoneType()==1) {
                       blemobi.clickVoted(list.id.toString(), v.toString(),index.toString());
                   }else{
                       setupWebViewJavascriptBridge(function(bridge) {
                           bridge.callHandler('clickVoted',{id:list.id,vote:v,index:index}, function(resp) {
                               alert(resp);
//                               var res=JSON.parse(resp);
                               alert("22="+resp);
                               var res=resp.split(",")
                               that.votedSuccess(res[0],res[1],res[2]);
                           })
                       })
                   }

               },
               votedSuccess:function (id,vote,index){  //app点赞成功后掉web端的函数
                   var key=parseInt(index),lenHot=this.hotItems.length,hotItems=this.hotItems,
                           len=this.items.length,items=this.items;
                   console.log("this.items==",this.items);
                   console.log("this.items==",items,hotItems);
                   console.log("this.items==",this.hot);
                   if(this.hot==1){
                       var hotlist=this.hotItems[key];
                       for(var i=0;i<len;i++){
                           if(items[i].id==id){
                               break;
                           }
                       }
                       alert("hot="+this.hot);
                      var list=this.items[i];
                   }else{
                       alert("hot="+this.hot);
                      var list=this.items[key];
                       for(var i=0;i<lenHot;i++){
                           if(hotItems[i].id==id){
                               break;
                           }
                       }
                      var hotlist=this.hotItems[i];
                   }
                    if(vote==0){
                        list.vote=0;
                        list.upvotes=list.upvotes-1;
                        hotlist.vote=0;
                        hotlist.upvotes=hotlist.upvotes-1;
                    }else{
                        list.vote=1;
                        list.upvotes=list.upvotes+1;
                        hotlist.vote=1;
                        hotlist.upvotes=hotlist.upvotes+1;
                    }

               },
               getCommentID:function(id){
                   var that=this;
                   /*
                    *@note 按评论ID查询评论详情
                    *@path /v1.7/comment/guest/detail
                    *@method GET
                    *@param id 1级评论ID或2级评论ID
                    *@param uuid 用户uuid
                    *@return 成功返回PCommentExt,失败返回PResult
                    */
                   alert(id);
                   var url = configIP()+"/v1.7/comment/guest/detail?id=" + id + "&uuid=" + that.uuid;
                   alert(url);
                   if(jugePhoneType()==1) {
                       request(url, function (data) {
                           if (data) {
                               that.items.splice(0,0,data);
                               console.log(data)
                           }
                       })
                   }else{

                   }
               },
               votedNewsSuccess:function(objURL){
                   alert(11)
                   if(jugePhoneType()==1) {
                        var objApp= blemobi.getVotedHeadImg();
                        var obj=JSON.parse(objApp);
                   }else{
                       alert(objURL);
                       obj=JSON.parse(objURL)
                       alert(obj);
                   }
                   console.log("voteData==",this.voteData);

                   console.log("voteData==",this.voteData);
                   if(obj.type==1){
                       this.voteData.push({user:
                       {
                           HeadImgURL: obj.headUrl,
                           Level: obj.level
                       }
                       });
                       this.voteSum=this.voteSum+1;
                       console.log("voteData==",this.voteData);

                   }else{
                       this.voteSum=this.voteSum-1;
                       this.voteData.splice(this.voteData.length-1);
                       console.log("voteData==",this.voteData);
                   }
               },
               showImg:function(e,index){
                   e.stopPropagation();
                   var that=this
                   that.imageList=[];
                   if(jugePhoneType()==1) {
                       blemobi.showPic();
                   }else{
                       setupWebViewJavascriptBridge(function(bridge) {
                           bridge.callHandler('showPic',{}, function(res) {

                           })
                       })
                   }
                   var img= $(e.currentTarget).parent().find("img");
                   console.log("ddd", $(e.currentTarget).parent().find("img"),e);
//                   e.stopPropagation();
                   for(var i=0;i<img.length;i++){
                       console.log("ggg",$(img[i]).attr("src"))
                       that.imageList.push({src:$(img[i]).attr("src")}) ;
                   }
                   alert(index+1);
//                   Vue.nextTick(function(){
                       console.log("eee",index+1);
                       $("body").css("overflow","hidden");
                       $("#cover").css("display","flex");
                  console.log("swiper==",that.swiper) ;
                   /*    var swiper = new Swiper('.swiper-container',{
                           initialSlide :index
                       });*/
//                   })
               },
               address:function(p){
                 if(p==""){
                     return "暂无地址"
                 }
                   return p;
               },
               loadMoreCom:function(){
                   var that=this;
                   var urlObj=parseAppURL();
                   var
//                           comURL="http://192.168.5.105/comment/guest/loadcomment?count=20&postid="+urlObj.postid+"&uuid="+urlObj.uuid+"&offset="+that.offset,
                           uu="http://192.168.5.105/comment/guest/loadcomment?count=2&postid=19&offset=0&uuid=1493048811581296819",
                           url="http://192.168.5.105/comment/guest/loadcomment?count=2&offset=0&"+urlObj.comment
                           uu1="http://192.168.5.105/comment/guest/loadcomment?count=2&offset=0&uuid=1493051392875521593&postid=36";
                   request(url,function(data){
                       Tips(data.comments.length);
                       if(data&&data.comments){
                       console.log("data==",data);
                       if(!that.items){
                           that.items=[];
                           console.log(that.items)
                       }
                           that.items=that.items.concat(data.comments);
                         /*  for(var i=0;i<data.comments.length;i++){
                               console.log("data[i]==",data.comments[i])
                               console.log(that.items)
                               console.log(that.items==[]);
                               if(!that.items){
                                   that.items=[];
                                   console.log(that.items)
                               }
                               that.items[i]=data.comments[i];
                           }*/
//                           that.items=data.comments.concat(that.items);
                           Vue.nextTick(function(){
                               setImgWidht();
                           })
                           that.offset=that.offset+2;
                       }
                   })
               },
               beforeTime:function(publicTime){
                   var publicTime=new Date(publicTime);
                   var nowTime=Math.floor((new Date())/1000);
                   var dd=Math.floor((nowTime-publicTime)/60);
                   var time=0;
                   var objEdit={
                       showEdit:true,
                       time:0,
                   }
                   if(dd<1){
                       time="1分钟";
                   }
                   else if(dd>=1&&dd<60){
                       time=dd+"分钟";
                   }else if(dd>=60 && dd<24*60){
                       time=Math.ceil(dd/60)+"小时";
                   }else if(dd>=24*60&&dd<=24*3*60)
                   {
                       time=Math.ceil(dd/(60*24))+"天";
                       objEdit.showEdit=false;
                   }
                   else{
                       time=new Date(publicTime*1000).toLocaleString();
                       objEdit.showEdit=false;
                   }
                   objEdit.time=time;
                   return time;
               },
               publishTime:function(publicTime){
                   var publicTime=new Date(publicTime),now=new Date();
                   var nowTime=Math.floor((new Date())/1000);
                   var dd=Math.floor((nowTime-publicTime)/3600);
                   var time=0;
                   if(publicTime.toDateString()===now.toDateString()){
                       time=publicTime.getHours()+"："+publicTime.getMinutes();
                   }else if(dd>=1&&dd<=24*365)
                   {
                       time=(publicTime.getMonth()+1)+"/"+publicTime.getDate()+"/";
                   }
                   else{
                       time=publicTime.getFullYear()+"/"+publicTime.getMonth()+1+"/"+publicTime.getDate()+"/";
                   }
                   return time.toLocaleString();
               },
           }
       })
//        return vm;
    })(comment,jQuery)
</script>
</body>
</html>