<!DOCTYPE html>
<html lang="en">
<head>
    <!--   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=8">
       <meta http-equiv="Expires" content="0">
       <meta http-equiv="Pragma" content="no-cache">
       <meta http-equiv="Cache-control" content="no-cache">
       <meta http-equiv="Cache" content="no-cache">-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    <link href="dist/css/list.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/swiper.min.css">
    <style>
        @media screen and (min-width:600px) and (max-width:900px){
            html {
                font-size: 875%;
            }
        }
        @media screen and (min-width:415px) and (max-width:600px){
            html {
                font-size: 750%;
            }
        }
        @media screen and (min-width:375px) and (max-width:415px){
            html {
                font-size: 625%;
            }
        }
        .swiper-slide {
            /*text-align: center;*/
            font-size: 18px;
            background: #000;
            align-items: center;
            justify-content: center;
            width:100%;
            display: flex;
            flex-direction:column
        }
        .swiperImg {
            align-items: center;
            justify-content: center;
            width:100%;
            /*display: flex;*/
        }

        .swiperDetail{
            position: absolute;
            bottom:0;
        }
        #content{
            word-break:break-all;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            background-color: #000;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="text16 padding" id="content" v-html="context" v-cloak>
    </div>
    <div class="countMemberTop" v-cloak>
        <div style="float: left;">
            <a class="headerImg">
                <img src="dist/img/head.png" style="width: 100%">
                <span class="level0"></span>
            </a>
        </div>
        <div style="float: right;line-height:inherit" class="text12">
            等18人点赞
            <span class="sumTop" @click="jump()"></span>
        </div>
    </div>
    <div class="hotComment" id="commentBarHot">热门评论</div>
    <div class="text14 padding" id="hot" v-cloak>
        <ol class="comments-items">
            <li class="bbs-post stairCom" v-for="list in items">
                <div class="bbs-post-self" :id="list.id">
                    <div class="bbs-headPic">
                        <img :src="list.author.HeadImgURL" :alt="list.author.Nickname">
                    </div>
                    <div class="bbs-comment-body">
                        <div class="pm">
                            <div style="float: left;">
                                <p class="text14">{{list.author.Nickname}}</p>
                                <a class="text12 colorGray">{{new Date(list.createTime*1000).toLocaleString()}}</a>
                            </div>
                            <div class="sprit likeIcon">
                                <span class="dianzhan" @click="likeComment($event)"></span>
                                <a class="color7A1AE0 text12">{{list.upvotes}}</a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p class="detailWord">
                                {{list.text}}
                            </p>
                        </div>
                        <div class="comment-img"  v-if="list.images&&list.images.list&&list.images.list.length>0">
                            <div class="oneImg" v-if="list.images.list.length==1" v-for="(img,key) in list.images.list"  @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                            <div class="twoImg" v-if="list.images.list.length==2" v-for="(img,key) in list.images.list"  @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                            <div class="thumbnailHidden" v-if="list.images.list.length>=3" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.ThumbUrl">
                            </div>
                        </div>
                        <div class="audio" v-if="list.audio">
                            <audio :src="list.audio.url" style="display: none" controls></audio>
                            <div class="details">
                                <div class="series sprit">
                                    <span></span>
                                </div>
                                <div class="expires">
                                    <span class="color7A1AE0">{{beforeTime(list.audio.expires)}}后过期</span>
                                </div>
                                <div class="allTimes">
                                    <span class="color7A1AE0">{{list.audio.length}}"</span>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: white;margin-top:0.15rem;margin-bottom: 0.1rem">
                            <span class="address"></span>
                            <a class="colorGray text12">{{address(list.position)}}</a>
                        </div>
                    </div>
                    <!--二级评论的页面-->
                    <ul class="subComment" v-if="list.subComments&&list.subComments.length>0">
                        <li class="sendComLI" v-for="subCom in list.subComments">
                            <div class="subComments" style="overflow: hidden">
                                <div class="comment-text">
                                    <p class="detailWord">
                                        <span style="color:red">{{subCom.author.Nickname}}：</span>
                                        {{subCom.text}}
                                        <span class="publicTime">{{beforeTime(subCom.createTime*1000)}}前</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
    <div style="background-color: #F0F0F0;height:0.2rem"></div>
    <div class="hotComment" id="commentBarAll">全部评论</div>
    <div class="allComment padding" v-cloak id="all">
        <ol class="comments-items">
            <li class="bbs-post stairCom" v-for="list in items" :id="list.id">
                <div class="bbs-post-self">
                    <div class="bbs-headPic">
                        <img :src="list.author.HeadImgURL" :alt="list.author.Nickname">
                    </div>
                    <div class="bbs-comment-body">
                        <div class="pm">
                            <div style="float: left;">
                                <p class="text14">{{list.author.Nickname}}</p>
                                <a class="text12 colorGray">{{new Date(list.createTime*1000).toLocaleString()}}</a>
                            </div>
                            <div class="sprit likeIcon">
                                <span class="dianzhan" @click="likeComment($event)"></span>
                                <a class="color7A1AE0 text12">{{list.upvotes}}</a>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p class="detailWord">
                                {{list.text}}
                            </p>
                        </div>
                        <div class="comment-img"  v-if="list.images&&list.images.list&&list.images.list.length>0">
                            <div class="oneImg" v-if="list.images.list.length==1" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                            <div class="twoImg" v-if="list.images.list.length==2" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                            <div class="thumbnailHidden" v-if="list.images.list.length>=3" v-for="(img,key) in list.images.list" @click="showImg($event,key)">
                                <img class="img-rounded" :src="img.MediaUrl">
                            </div>
                        </div>
                        <div class="audio" v-if="list.audio">
                            <audio :src="list.audio.url" style="display: none" controls></audio>
                            <div class="details">
                                <div class="series sprit">
                                    <span></span>
                                </div>
                                <div class="expires">
                                    <span class="color7A1AE0">{{beforeTime(list.audio.expires)}}后过期</span>
                                </div>
                                <div class="allTimes">
                                    <span class="color7A1AE0">{{list.audio.length}}"</span>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: white;margin-top:0.15rem;margin-bottom: 0.1rem">
                            <span class="address"></span>
                            <a class="colorGray text12">{{address(list.position)}}</a>
                        </div>
                    </div>
                    <!--二级评论的页面-->
                    <ul class="subComment" v-if="list.subComments&&list.subComments.length>0">
                        <li class="sendComLI" v-for="subCom in list.subComments">
                            <div class="subComments" style="overflow: hidden">
                                <div class="comment-text">
                                    <p class="detailWord">
                                        <span style="color:red">{{subCom.author.Nickname}}：</span>
                                        {{subCom.text}}
                                        <span class="publicTime">{{beforeTime(subCom.createTime*1000)}}前</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <div class="text14 colorGray" style="text-align: center;margin: 0.25px 0rem 0.15rem 0rem;" @click="loadMoreCom()">加载更多评论</div>
        </ol>
    </div>
    <div class="cover" id="cover">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(img,key) in imageList">
                    <div class="swiperImg"><img :src="img.src" :data-src="img.lazysrc"></div>
                    <div style="width:100%;color:white;padding-bottom: 10px;" class="swiperDetail details">
                        <div class="series text16" id="seriesImg">
                            <a style="padding:0px 10px">{{key}}/{{imageList.length}}</a>
                        </div>
                        <!--<div class="expires text14">-->
                        <!--<a class="btn">查看原图{{img.size}}</a>-->
                        <!--</div>-->
                        <div class="allTimes">
                            <span class="download" @click="downloadImg(img.src)"></span>
                        </div>
                    </div>
                </div>
                <!--<div class="swiper-slide" v-for="(img,key) in imageList">silde {{key}}</div>-->

            </div>
        </div>
    </div>
</div>
<div class="cover" id="tips" style="align-content: center;flex-direction:column;background-color: transparent">
    <div style="padding:10px 5px;background-color: rgba(0,0,0,0.5);border-radius: 4px;"></div>
</div>
<script src="dist/js/jquery3.js"></script>
<script src="dist/js/vue.js"></script>
<script src="dist/js/swiper.min.js"></script>
<script>
    var Tips=function(str,param){
        var p="";
        $("#tips").css("display","flex");
        if(param) {
            p=param
        }
        $("#tips div").html(str+p);
//        setTimeout(function(){
//            $("#tips").css("display","none");
//        },3000)
    }
    $("#audiosrc").on("canplay",function(){
        playaudio();
    })
    function playaudio(){
        var aud=document.getElementById("audiosrc");
        var playTimes=aud.duration;
        var intTimes=Math.ceil(playTimes);
        $(".details .allTimes span").text(intTimes+"'");
        var flag=false;
        $(".series").click(function(){
            var i=0;
            var src="";
            flag=!flag;
            if(flag){
                aud.play();
                var action= setInterval(function(){
                    src="dist/img/audImg"+(i%4+1)+".png";
                    $(".series img").attr("src",src);
                    i++;
                    if(aud.currentTime*1000<aud.duration*1000 && flag){

                    }else{
                        clearInterval(action);
                        aud.pause();
                        if(flag){
                            flag=!flag;
                        }
                    }
                },500)
            }
            else{
                console.log(flag);
                aud.pause();
                $(".series img").attr("src","dist/img/audImg4.png");
            }
        })
    }
    (function(){
        function setPosition(){
            //全部评论和热门评论显示在顶部
            var hTop=$(" #commentBarHot ").offset().top;
            var aTop=$("#commentBarAll").offset().top
            $(window).scroll(function(){
                var h=$("#all").css("height");
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                var viewportSize = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
                var x =scrollTop+viewportSize- hTop- $(window).height();
                var y=scrollTop+viewportSize-aTop-$(window).height();
                if(x>=0){
                    $("#commentBarHot").css("position","fixed").css("top","0").css("left",0).css("right",0);
                    $("#commentBarAll").css("position","relative");
                }else{
                    $("#commentBarHot").css("position","relative");
                }
                if(y>=0){
                    $("#commentBarAll").css("position","fixed").css("top","0").css("left",0).css("right",0);
                    $("#commentBarHot").css("position", "relative");
                }else{
                    $("#commentBarAll").css("position", "relative");
                }
            })
        }
        var vm=new Vue({
            el:"#app",
            data:{
                items:[],
                imageList:[],
                context:"",
            },
            mounted:function(){
                console.log("111");
                var that=this;
                that.items=[];
                var u="http://192.168.5.105:80/v1/news/guest/newsfeed/html?id=24";
                /* var cxtURL=window.blemobi.getFrameUrl(),
                 alert(cxtURL);
                 var url=JSON.parse(cxtURL);
                 alert(url.url);
                 var arr=url.url.split("&bodyurl=");
                 alert(arr);
                 var UUID=arr[0].split(/&|=/);
                 alert("uuid");
                 alert(UUID);*/
                $.ajax({
                    url:u,
                    method:"GET",
                    contentType:"application/json",
                    beforeSend : function(xhr) {

                    },
                    error:function(){
                        Tips("网络出错")
                    },
                    success:function(data){
                        console.log("data",data)
//                       Tips(data);
                        that.context=data;
                        var content=data;
                        var arr=[];
                        var img=new Image();
                        if(content!=""){
                            if (content.indexOf("<img") != -1) {
                                content.replace(/<img [^>]*src=['"]([^'"]+)[^>]*>/gi, function (match, capture) {
                                    that.imageList.push({src:capture});
                                })
                            }
                        }
                        console.log("img==",that.imageList);
                        /*       $("#content").on("click","img",function(e){
                         //                           that.imageList=arr;
                         console.log(e);
                         if(that.showImg){
                         $("body").css("overflow","auto");
                         $("#cover").css("display","none");
                         }else{
                         console.log("eee");
                         $("body").css("overflow","hidden");
                         $("#cover").css("display","flex");
                         }
                         var swiper = new Swiper('.swiper-container');
                         })*/
                        Vue.nextTick(function(){
                            $("#content img").each(function(index,_this){
                                console.log(_this)
                                $(_this).click(function(){
                                    $('html').css("height","100%").css("overflow","hidden");
                                    $('body').css({"height":"100%","overflow":"hidden"});
                                    alert("正文的图片")
                                    alert($("#cover").height());
                                    console.log("eee", index);
                                    var h=$(window).height()
                                    $("body").css("height",h).css("overflow-y", "hidden");
                                    $("#cover").css("height",h).css("overflow-y", "hidden").css("display", "flex");
                                    alert($("#cover").height());
                                    var swiper = new Swiper('.swiper-container', {
                                        initialSlide: index
                                    });
                                })
                            })
                        })

                    }
                })
                $.ajax({
                    url:"192.168.5.105:80/comment/guest/loadcomment?count=20&postid=36&offset=0&uuid=1493048811581296819",
//                   url:"http://192.168.5.105:80/comment/guest/loadcomment?count=20&postid="+UUID[3]+"&offset=0&uuid="+UUID[1],
                    method:"GET",
                    contentType:"application/json",
                    beforeSend : function(xhr) {

                    },
                    error:function(){
                        alert("error comment load")
                    },
                    success:function(data){
                        console.log("data",data)
                        that.items=data.comments;
                        Vue.nextTick(function(){
                            console.log($(".oneImg img").length);

                            var w=$(".oneImg").css("width");
                            var h=0.5625*parseInt(w);
                            $(".oneImg").css("height",h+"px");

                            var w=$(".twoImg").css("width");
                            $(".twoImg").css("height",w);

                            var w=$(".thumbnailHidden").css("width");
                            $(".thumbnailHidden").css("height",w);
                            setPosition()
                        })

                    }
                })
                $.ajax({
                    url:"http://192.168.5.105/v1/news/guest/vote/users?offset=0&count=6&id=19",
                    method:"GET",
                    contentType:"application/json",
                    beforeSend : function(xhr) {

                    },
                    error:function(){
                        alert("error comment sum")
                    },
                    success:function(data) {
                        console.log("data", data)
                    }
                })
                $("#cover").click(function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    if(e.target!=="download") {
                        $("body").css("overflow", "auto");
                        $("#cover").css("display", "none");
                    }
                })
            },
            methods:{
                jump:function(){

                },
                downloadImg:function(src){
                    var img=new Image();
                    img.setAttribute('crossOrigin', 'anonymous');
                    img.src=src;
                    console.log("src==",img.src)
                    var can=document.createElement("canvas");
                    var c=can.getContext("2d");
                    img.onload=function(){
                        can.heigth=img.height;
                        can.width=img.width;
                        c.fillStyle = "#fff";
                        c.fillRect(0, 0, can.width, can.height);
                        c.drawImage(img,0,0);
                        var base64=can.toDataURL("image/jpeg");
                        var arr = base64.split(','), mime = arr[0].match(/:(.*?);/)[1],
                                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
                        while(n--){
                            u8arr[n] = bstr.charCodeAt(n);
                        }
                        console.log("blob==",new Blob([u8arr], {type:mime}));
                        return new Blob([u8arr], {type:mime});
                    }
                },
                likeComment:function(e){

                    $(e.currentTarget).css("background-position","-15.5px -62px");
                },
                showImg:function(e,index){
                    var that=this
                    that.imageList=[];

                    var img= $(e.currentTarget).parent().find("img");
                    console.log("ddd", $(e.currentTarget).parent().find("img"),e);
//                   e.stopPropagation();
                    for(var i=0;i<img.length;i++){
                        console.log("ggg",$(img[i]).attr("src"))
                        that.imageList.push({src:$(img[i]).attr("src")}) ;
                    }
                    Vue.nextTick(function(){
                        console.log("eee",index);
                        $("body").css("overflow","hidden");
                        $("#cover").css("display","flex");
                        var swiper = new Swiper('.swiper-container',{
                            initialSlide :index
                        });
                    })
                },
                address:function(p){
                    if(p==""){
                        return "暂无地址"
                    }
                    return p;
                },
                loadMoreCom:function(){
                    var that=this;
                    $.ajax({
                        url:"http://192.168.5.105:80/comment/guest/loadcomment?count=20&postid=36&offset=0&uuid=1493048811581296819",
                        method:"GET",
                        contentType:"application/json",
                        beforeSend : function(xhr) {

                        },
                        success:function(data){
                            console.log("data",data)
                            that.items=that.items.concat(data.comments);

                            var w=$(".oneImg").css("width");
                            var h=0.5625*parseInt(w);
                            $(".oneImg").css("height",h+"px");

                            var w=$(".twoImg").css("width");
                            $(".twoImg").css("height",w);

                            var w=$(".thumbnailHidden").css("width");
                            $(".thumbnailHidden").css("height",w);
                        }
                    })
                },
                beforeTime:function(publicTime){
                    var publicTime=new Date(publicTime);
                    var nowTime=Math.floor((new Date())/1000);
                    var dd=Math.floor((nowTime-publicTime)/60);
                    var time=0;
                    var objEdit={
                        showEdit:true,
                        time:0,
                    }
                    if(dd<1){
                        time="1分钟";
                    }
                    else if(dd>=1&&dd<60){
                        time=dd+"分钟";
                    }else if(dd>=60 && dd<24*60){
                        time=Math.ceil(dd/60)+"小时";
                    }else if(dd>=24*60&&dd<=24*3*60)
                    {
                        time=Math.ceil(dd/(60*24))+"天";
                        objEdit.showEdit=false;
                    }
                    else{
                        time=new Date(publicTime*1000).toLocaleString();
                        objEdit.showEdit=false;
                    }
                    objEdit.time=time;
                    return time;
                }
            }
        })
    })()

</script>
</body>
</html>